.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 0;
    z-index: 9999;
    color: white;
    transition: 0.2s;
}

.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}

.btn-floating.whatsapp {
    bottom: 25px;
    background-color: white;
    border: 2px solid #fff;
}

.btn-floating.whatsapp:hover {
    background-color: #34af23;
}
